html, body {
    background: linear-gradient(to bottom, #dd7826, powderblue);
    min-height: 100vh;
    min-width: none;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-weight: bold;
}

header {
    position:fixed;
}

.container {
    min-height: 100vh;
}

a.lott {
    background-image: linear-gradient(
        to right,
        rgb(101, 226, 243),
        rgb(42, 231, 127)
    );
    font-family: 'Century Gothic', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 28px;
}

a.lott:hover {
    text-decoration: none;
}

.cit {
    font-family: 'Marck Script', sans-serif;
    color:bisque;
}

a {
    color:rgb(5, 116, 5);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.main {
    padding-top: 84px;
    padding-left: 85px;
    flex: 16;
    font-family: 'Century Gothic', sans-serif;
    font-size: large;
    color:rgb(0, 0, 0);

    
}

.mainindex {
    padding-left: 30px;
    flex: 16;
    font-family: 'Century Gothic', sans-serif;
    font-size: large;
    color:rgb(0, 0, 0);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px white,
    0px 0px 10px white inset;
    margin-left: 13%;
    width: 70%;
}

.top {
    color: rgb(255, 255, 255);
}

.topindex {
    flex: 1;
    padding-top: 50px;
    padding-left: 66px;
}

.block {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px white,
    0px 0px 10px white inset;
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .block {
        width: 90%;
    }
}

.name {
    font-size:x-large;
}

.image {
    margin-left: 0;
    margin-top: 10px;
    transition: transform 0.8s;
}

.image:hover, .image2:hover {
    transform: scale(1.2);
    border-style: solid;
    border-color:rgb(230, 172, 14);
    box-shadow: 0px 0px 10px rgb(255, 255, 255),
    0px 0px 10px white inset;
}

@media screen and (max-width: 1024px) {
    .image:hover, .image2:hover {
        transform: scale(1.5);
    }
}

.image2 {
    margin-left: 28%;
    margin-top: 0px;
    transition: transform 0.8s;
}

audio {
    width: 100%;
    max-width: 600px;
}

.song {
    color: rgb(0, 119, 20);
    font-weight: bold;
}

.linksao {
background-image: linear-gradient(to right, #8a1faa, #ff9900);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
    font-weight: bold;
    text-decoration: none;
}


a.linksao:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.polyn {
    height: 319px;
    width: 510px;

    background-image: url("image/polback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.polyn5 {
    height: 319px;
    width: 510px;

    background-image: url("image/pol_winback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pol {
    background-color: rgba(9, 177, 79, 0.288);
}

.pol5 {
    background-color: rgba(3, 194, 228, 0.288);
}

.shalf {
    height: 319px;
    width: 510px;

    background-image: url("image/shalback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.obl {
    height: 319px;
    width: 510px;

    background-image: url("image/oblback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s {
    background-color: rgba(129, 5, 123, 0.288); 
}

.o {
    background-color: rgba(238, 139, 9, 0.288); 
}

.end {
    padding: 10px;
}

a.home {
    font-size:x-large;
    color:rgb(5, 116, 5);
    font-weight: bold;
    text-decoration: none;
    margin-left: 42%;
}

.linkcomp, .linktel{
    color:whitesmoke;
}

 .linkcom, .linkte {
    color:darkgreen;
 }

.linkcomp:hover, .linktel:hover{
    color:rgb(22, 95, 13);
}

.linkcom:hover, .linkte:hover {
    color:rgb(0, 0, 0);
}